@model Machine_test.Models.ProductMaster

@{
    ViewData["Title"] = "Edit";
}

<div class=" ="continer""> 
   <div class=" row">
       <div class="col-6 offset-3">
           <div class="card-header-tabs">
               <h1 class="text-center text-primary">Edit Product Details</h1>
           </div>
           <div class="card-body">
               <form method="post" asp-action="Edit">
                    
                   <div class="form-group">
                       <label asp-for="ProductName"></label>
                       <input type="hidden" asp-for="ProductId" />
                       <input type="text"asp-for= "ProductName" class=" form-control" placeholder="Edit Product Name"/>
                       <span asp-validation-for="ProductName" class="text-danger"></span>
                   </div><div class="form-group" class="editor-field">  
                       <label asp-for="CategoryName"></label>
                        @Html.DropDownListFor(m=>m.CategoryId, ViewBag.Roles as SelectList, "Select ...", new { @class = "myClass", style = "width: 250px;" })  
                        @Html.ValidationMessageFor(model => model.CategoryId)  
                   </div>  
                   <div class="form-group">
                       <label asp-for="Description"></label>
                       <input type="text"asp-for="Description" class=" form-control" placeholder="Enter Description"/>
                   </div>
                   
                   <div class="form-group">
                       <label asp-for="Price"></label>
                       <input type="text"asp-for="Price" class=" form-control" placeholder="Edit Price "/>
                       <span asp-validation-for="Price" class="text-danger"></span>

                   </div>
                   <div class="form-group">
                       <input type="submit" value="Submit" class="btn btn-sm btn-outline-success float-right" />
                   </div>
               </form>
           </div>
       </div>
   </div>
</div>

