@model Machine_test.Models.CategoryMaster

@{
    ViewData["Title"] = "Create";
}

<div class=" ="continer""> 
   <div class=" row">
       <div class="col-6 offset-3">
           <div class="card-header-tabs">
               <h1 class="text-center text-primary">Add Category Details</h1>
           </div>
           <div class="card-body">
               <form method="post" asp-action="Create">
      
                   <div class="form-group">
                       <label asp-for="CategoryName"></label>
                       <input type="text"asp-for="CategoryName" class=" form-control" placeholder="Enter category Name"/>
                   </div>
                   <div class="form-group">
                       <label asp-for="Description"></label>
                       <input type="text"asp-for="Description" class=" form-control" placeholder="Enter Description "/>
                   </div>
                   <div class="form-group">
                       <input type="submit" value="Submit" class="btn btn-sm btn-outline-success float-right" />
                   </div>
               </form>
           </div>
       </div>
   </div>
</div>
