@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   <div>   
               <section>
                <h1>Macine_test Project</h1>
                <h2>Created by : Raviranjan Sah</h2>
                <p>ASP.NET MVC Core Project With Entity Framework By Using Code First Approch Method</p>
               </section>         
   </div>
</div>
